body{
    margin: 0;
    padding: 0;
    
}
main{
    background-image: url('https://th.bing.com/th/id/R.1effd96d404f243c89703973574da4db?rik=3f%2b61aftUxZnqQ&riu=http%3a%2f%2fwallup.net%2fwp-content%2fuploads%2f2016%2f05%2f26%2f349970-abstract-planet-space.jpg&ehk=XCGU%2bAx9Jk62zt0Z5cdyt8OZSwGL5ztz6rF%2fxLDgJAg%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 3%;
}
.menu{
    display: block;
    width: 4%;
    position: fixed;
    
}
header{
    padding: 7vh;
    width: 92.3%;
    background-color: rgb(26, 26, 26);
    margin: 0;
    display: none;
    justify-content: space-around;
    position: fixed;
    transition: 1000ms;
}
header .menu{
    position: absolute;
    top: 50px;
    left: 45px;
    width: 3.5%;
}
.imgperfil{
    width: 50%;
    border-radius: 20px;
    border: 5px aliceblue solid;
}
a{
    font-size: 4vh;
    color: aliceblue;
    text-decoration: none;
}
h1{
    padding-top: 2%;
    margin-top: 0;
    color: azure;
    text-decoration: underline;
}
h2{
    color: azure;
}
p{
    color: azure;
    font-size: 3vh;
}
header{
    height: 7%;
    text-align: center;
}
.sobre{
    border: 3px aliceblue solid;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 3%;
}
.perfil{
    border: 3px aliceblue solid;
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 20px;
}
.habilidades{
    border: 3px aliceblue solid;
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 20px;
}
li{
    text-align: left;
    color: aliceblue;
    margin-left: 40%;
    font-size: 3vh;
    margin-bottom: 2%;
}
.contatos{
    border: 3px aliceblue solid;
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 20px;
}
.contatos img{
    margin: 0 10%;
    width: 25%;
}
